:root {
    --yellow: #e6c300;
    --gray: #363636;
    --white: #ffffff;
    --light-grey: #808080;
    /*--vinous: rgb(134, 59, 162);*/
    --purple: #674fa4;
    /*--regular-size: 16px;*/
    --radius: 10px;
    font-size: 16px;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Comfortaa', cursive;
}

* {
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
body {
    min-height: 100vh;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    color: white;
    /*text-transform: uppercase;*/
    background-color: #363636 !important;
}
a{
    color: var(--white) !important;
}
img {
    width: 100%;
}

.error-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--yellow);
    font-size: 2.5rem;
    margin: 0;
}

h2 {

}

app-root {

    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;


}
.wrapper {
    overflow-x: hidden;

    width: 75rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    margin: 0 auto;
    /*min-height: 100vh;*/

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    background-color: #725da9;
}

.menu {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4.5rem;
}

.quiz-container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    gap: 6rem;

    padding: 20px;
}

.artists-quiz, .pictures-quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.4s;
}
.artists-quiz:hover, .pictures-quiz:hover {
    -webkit-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    transform: rotateZ(4deg);

}
.artists-quiz p, .pictures-quiz p {
    transition-duration: 0.4s;
    color: var(--white);
}

.artists-quiz:hover p, .pictures-quiz:hover p {
    color: var(--yellow);
    transition-duration: 0.4s;
}

.quiz-title {
    font-size: 1.5rem;
}

.settings-button {
    font-size: 1.3rem;
    color: var(--white);

    background: none;
    border: 1px solid var(--white);
    padding: 10px 15px;

    cursor: pointer;

    transition-duration: 0.4s;
}


.settings-button:hover {
    color: var(--yellow);
    border: 1px solid var(--yellow);
    transition-duration: 0.4s;

}


footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.footer_element {
    color: var(--purple) !important;
    /*color: var(--white);*/
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.4s;
}

.footer_element:hover {
    color: var(--yellow);
    transition-duration: 0.4s;

    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.logo-rs {
    width: 6rem;
    /*height: 4.5rem;*/
}

/*.....................buttons..............*/



/*......................*/
.nav-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--purple);
    padding: 0 50px;
}

.nav-panel-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white);
}

.nav-panel-button {
    font-size: 1.3rem;
    color: var(--white);
    background: none;
    border: none;
    cursor: pointer;
    /*transition-duration: 0.4s;*/
    transition: all 0.2s linear 0s;
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;

    padding: 20px 0;
    width: 150px;
    border-radius: 10px;
    overflow: hidden;
    /*}*/
}
.nav-panel-button.effect {
    transition: all 0.2s linear 0s;
}
.nav-panel-button.effect:before {
    content: "🖌";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 40px;
    transform: scale(0,2);
    transition: all 0.2s linear 0s;
}

.nav-panel-button.effect:hover {
    text-indent: -9999px;
}
.nav-panel-button.effect:hover:before {
    transform: scale(1, 1);
    text-indent: 0;
}

.category-cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;

    margin: 4rem 0;

}

.category-card-link {
    width: 100%;
}

.category-card {
    padding: 15px;
    border: 3px solid var(--purple);
    cursor: pointer;
    transition-duration: 0.4s;
}

.category-card:hover {
    border: 3px solid var(--yellow);
    transition-duration: 0.4s;
}

/*.category-card-active{*/
/*    border: 3px solid var(--purple);*/
/*    background-color: #35692f;*/
/*}*/
/*.category-card-active .category-card-image{*/
/*   */
/*}*/
.category-card-title {
    font-size: 1.3rem;
    font-weight: bold;
}

.category-card-image {
    width: 100%;
    filter: grayscale(100%);

}
.image-wrapper{
    position: relative;
}
.image-score{
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    background-color: #363636;
    font-size: 1.5rem;
    color: var(--yellow);
    transition-duration: 0.8s;
    padding: 0 30px;
    opacity: 0.8;
}
.image-score:hover{
    font-weight: bold;
    opacity: 0.9;
    transition-duration: 0.8s;
}



/*......ques-art*/

.main-question {
    font-size: 1.6rem;
    text-align: center;
    color: var(--white);
}

.question-wrapper {
    /*margin: 2rem;*/
    /*margin: 0 auto;*/
    /*display: flex;*/
    /*!*flex-direction: column;*!*/
    /*!*justify-content: center;*!*/
    /*!*align-items: center;*!*/
    /*transition-duration: all ease 1s;*/
}

.question-cards-img {
    max-width: 25rem;
    width: auto;
    cursor: pointer;
    transition-duration: 0.4s;
}

.question-cards-img:hover {
    box-shadow: 0 0 7px 7px #e8b445;
}

.question-pictures-card-img {
    max-width: 40rem;
    width: 100%;
}

.question-cards {
    margin: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}

.question-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.bullet {
    width: 0.8rem;
    height: 0.8rem;
    background-color: var(--light-grey);
    border-radius: 10px;
}

.bullet-wrong {
    background-color: #8c3636;

}

.bullet-right {
    background-color: #35692f;
}
.bullet-active {
    box-shadow: 0 0 7px 7px #e8b445;
}
.question-answers{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.question-answer {
    background: transparent;
    color: var(--white);
    border: 2px solid var(--yellow);
    font-family: 'Comfortaa', cursive;
    padding: 1rem;
    transition-duration: 0.4s;
}
.question-answer:hover {
    background: var(--light-grey);
}
/*.....popup....*/

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    /*opacity: 0;*/
    /*visibility: hidden;*/
    overflow-y: auto;
}

.popup-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup-content {
    background-color: var(--white);
    color: #000;
    font-size: 1.2rem;
    max-width: 800px;
    padding: 2rem;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 20px;
}

.popup-title {
    font-size: 2rem;
    color: var(--purple)
}

.popup-close {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--light-grey);
}

.popup-next-button {
    font-size: 1.3rem;
    color: var(--purple);
    border: 2px solid var(--purple);

    background: none;
    padding: 10px 15px;

    cursor: pointer;

    transition-duration: 0.4s;
}

.popup-next-button:hover {
    transition-duration: 0.4s;
    box-shadow: 0 0 3px 3px var(--purple);
}

.right-answer {
    color: #36c026;
}

.wrong-answer {
    color: #cb1616;
}

.results {
    font-size: 3rem;
}
/*..............slider.........*/
.my-slider{
    margin: 3rem auto 1rem auto;
    overflow: hidden;
    max-width: 72%;

}
.slider-line{
    display: flex;
    transition: all ease 0.5s;
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*transition-duration: all ease 1s;*/
}

/*............media................*/
@media (max-width: 1290px) {
    .wrapper {
        width: 100%;
        padding: 0 50px;
    }

    .category-cards-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .question-cards-img{

    }
}

@media (max-width: 1024px) {


    .category-cards-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .quiz-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

    }

    .menu {
        margin-bottom: 1rem;
    }
}

@media (max-width: 768px) {

    .question-cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 2rem;
    }
    .question-progress {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.75rem;
    }
    .main-question {
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {

    .category-cards-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .wrapper {
        padding: 0 60px;
    }

    .nav-panel-title {
        font-size: 1.2rem;
    }
    .question-answers{
        width: 100%;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

}

@media (max-width: 420px) {
    .wrapper {
        padding: 0 20px;
    }

    .question-cards{
        gap: 1rem;
    }

    footer, .nav-panel {
        padding: 0 30px;
    }

    .nav-panel-title,
    .nav-panel-button,
    .footer_element,
    .category-card-title {
        font-size: 1rem;
    }

    .logo-rs {
        width: 4rem;
    }
}
